.wrapper {
    height: 100vh;
    width: 100%;
    background-image: url("godzillabg1.jpeg");
}
body {
    margin: 0px;
}

.jumbotron {
    width: 800px;
    height: 500px;
    text-align: center;
    margin-left: auto;
    margin-right:auto;
    background: rgb(112, 110, 110, 0.0);
    color: white;
    font-family: 'Shojumaru', cursive;
}

a {
    color: white;
    font-family: 'Shojumaru', cursive;
}
#viewScores:hover {
    color:yellow;
}

.btn {
    background-color: white;
    border: black;
}

#start-quiz:hover {
    color: black;
    background-color: white;
    font-family: 'Shojumaru', cursive;
}

@keyframes flashing {
    from {color: yellow;}
    to {color: red;}
}

h3#countdown {
    margin-left: 75%;
    color: white;
    font-family: 'Shojumaru', cursive;
    float: left;
    animation-name: flashing;
    animation-duration: .5s;
    animation-iteration-count: infinite;
    visibility: hidden;
}

.questions-box {
    display: none;
    background-color: white;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background: rgb(112, 110, 110, 0.0);
    color: white;
    font-family: 'Shojumaru', cursive;
    margin-top: 175px;
}

.btn.btn-outline-dark {
    margin: 2px 1px 2px 1px;
}

.form-group {
    display: none;
    margin-top: 175px;
    width: 600px;
    height: 75px;
    margin-right: auto;
    margin-left: auto;
    color: white;
    font-family: 'Shojumaru', cursive;
    text-align: center;
}

#formGroupExampleInput {
    text-align: center;
}

.btn.btn-dark {
    margin: 4px 1px 2px 1px;
    color: black;  
}

.scoresBox {
    float: left;
    display: none;
    background-color: rgb(253, 252, 252, 0.0);
    width: fit-content;
    padding-left: -10px;
    padding-right: 20px;
    margin-left: 30px;
    height: auto;
    border-radius: 4px;
    margin-bottom: auto;
    margin-top: 150px;
}

#scoreList {
    color: white;
    display: none;
    text-align: center;
    font-family: 'Shojumaru', cursive;
}

a#viewScores.btn.btn-primary.btn-lg {
    color: white;
    background-color: rgb(255, 255, 255, 0.0);
}



